html {
color: white;
background-color: black;
}

p {
background-color: gray;
font-size: 15pt;
border-radius: 20px;
padding: 10px;
}

h2 {
text-align: center;
background-color: gray;
border: 2px solid white;
padding-top:7px;
padding-bottom:10px;
}

h1 span{
    color: red;
    font-size: 30pt;
    margin-bottom: 10px;	
}

h1 {
font-size: 30pt;
text-align: center;
}

.cool{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: gray; 
    border-radius: 5px;
    cursor: pointer;
}

div {
	font-size: 20px;
}