body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.header {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header .highlight {
    color: red;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav a {
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    color: red;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #444; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
}

p {
    text-align: center;
    color: #ccc;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

input:focus, select:focus, textarea:focus {
    border-color: #fff;
    outline: none;
    background-color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
}

.btn:hover {
    background-color: red;
    color: #fff;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
}

.form-group-inline .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group-inline .form-group:last-child {
    margin-right: 0;
}

.form-group-inline input, .form-group-inline select {
    width: calc(100% - 10px);
}

.form-group-inline .form-group label {
    margin-bottom: 10px;
}

.form-group-inline .form-group input, .form-group-inline .form-group select {
    margin-bottom: 0;
}

/* This is for the homepage*/
#search {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
#search-bar {
    padding: 10px;
    padding-left: 20px;
    width: 35%;
    height: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    color: black;
}

#intro {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15pt;
}
