body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.header {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-title {
    margin: 0;
    font-size: 2.5em;
}

.highlight {
    color: red;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav a {
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    color: red;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #444;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
}

#prompt {
    text-align: center;
    color: #ccc;
}

.form {
    margin-top: 20px;
}

.form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form input, .form select, .form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

.form input:focus, .form select:focus, .form textarea:focus {
    border-color: #fff;
    outline: none;
    background-color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
}

.btn:hover {
    background-color: red;
    color: #fff;
}

/* This is for the homepage*/
#search {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
#search-bar {
    padding: 10px;
    padding-left: 20px;
    width: 35%;
    height: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    color: black;
}

#intro {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15pt;
}

/* This is for the find parts page */

#form-title{
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: gray;
    margin-top: 0px;
    padding: 20px 0;
}

.button {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
	flex: 1;
	margin-left:10px;
	text-align: center;
    font-size: 16px;
    display: inline;
}

.button:hover {
    background-color: red;
    color:#ccc;
}
